<header class="header">
    <div class="container">
        <div class="header-box">
            <a href="#" class="logo"> <span>RemontTV PRO</span></a>
            <ul class="top-menu menu">
                <li><a href="#price">Услуги и цены</a></li>
                <li><a href="#about">О компании</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
            <a href="tel:+71111111111" class="phone">+7 1111111111</a>
            <a data-form="Кнопка в шапке" href="javascript: void(0);" data-toggle="modal" data-target="#modal" class="btn-orange">Оставить заявку</a>
            <a id="hamburger-icon" href="javascript: void(0);" title="Menu">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </a>
        </div>
    </div>
</header>