@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #000;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #000;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    background: #F4F4F4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 59px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding: 0 24px;
    color: #121212;
    color: #8C8C8C;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

.container {
    max-width: 1170px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
    padding: 0 0 0 0;
}

// ul li::before {
//     content: '';
//     display: block;
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     top: 5px;
//     left: 0;
//     background: #000;
//     border-radius: 50%;
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//     -ms-border-radius: 50%;
//     -o-border-radius: 50%;
// }
button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #000;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 20px;
}

.desc {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

.ov-hidden {
    overflow: hidden;
}

.fade {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade:not(.show) {
    opacity: 0
}

@media (min-width:576px) {
    .modal-dialog {
        margin: 0 auto;
        max-width: 655px
    }
}

.modal-dialog {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 655px;
    position: relative;
    width: auto;
    height: 100vh;
    pointer-events: none
}

.modal-content {
    background: #fff;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    max-width: 655px;
    width: 100%;
    pointer-events: auto;
    border: none;
    outline: 0
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(10, 22, 30, 0.9);
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none
}

.modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background: url(../img/close.svg) no-repeat center;
    right: 31px;
    top: 31px;
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 1
}

.form-popup {
    padding: 45px 45px 60px 45px;
}

.modal-open {
    overflow: hidden;
    padding-right: 17px!important;
}

.btn-orange {
    font-weight: 600;
    font-size: 24px;
    padding: 0 0 0 0;
    line-height: 29px;
    text-align: center;
    border: 2px solid #E51C15;
    color: #EC441E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header {
    padding: 0 0 0 0;
    margin-bottom: 93px;
}

.wrapper {
    position: relative;
}

.top-img {
    position: absolute;
    height: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding-bottom: 46.8%;
    z-index: -1;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(68.66deg, rgba(100, 100, 100, 0.81) 0%, rgba(255, 255, 255, 0) 100%);
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.header-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
        margin-right: 126px;
        position: relative;
        padding: 0 0 0 38px;
        span {
            white-space: nowrap;
            font-family: "Aldrich";
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #121212;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -10px;
            width: 30px;
            height: 40px;
            background: url(../img/logo.svg) no-repeat left center;
        }
    }
    .btn-orange {
        display: block;
        max-width: 173px;
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding: 10px 0 10px;
        @include tr2;
    }
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
        margin-right: 64px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        display: block;
        padding: 11px 0 11px 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #121212;
        &:hover {
            color: #EC441E;
        }
    }
}

.phone {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #121212;
    margin-left: 115px;
}

.btn-orange {
    margin-left: auto;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

#hamburger-icon {
    position: relative;
    display: none;
    width: 18px;
    height: 14px;
}

#hamburger-icon .line {
    position: absolute;
    left: 0;
    display: block;
    background: #ff6543;
    width: 18px;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}

.mobile-menu {
    display: none;
}

.line.line-1 {
    top: 0;
}

.line.line-3 {
    top: 100%;
}

.line.line-2 {
    top: 50%;
}

#hamburger-icon.active .line-1 {
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -o-transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.ov-hidden {
    overflow: hidden;
}

@media screen and (min-width:992px) {
    .btn-orange:hover {
        opacity: 0.5;
    }
    .modal-close:hover {
        opacity: 0.7;
    }
}

.top-wrap {
    .title {
        font-weight: 600;
        font-size: 48px;
        line-height: 112%;
        letter-spacing: -0.02em;
        color: #121212;
        margin-bottom: 51px;
        span {
            color: #EC441E;
        }
    }
}

.top-form {
    max-width: 463px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    padding: 20px 42px 23px 42px;
    border-radius: 5px;
    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #707070;
        margin-bottom: 19px;
    }
    input {
        border: none;
        margin-bottom: 16px;
    }
    button {
        display: block;
        max-width: 291px;
        width: 100%;
        margin: 0 auto;
        margin-top: 24px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        background: linear-gradient(92.61deg, #EC441E 0%, #E41414 100%);
        padding: 14px 0 14px 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}

.nice-select {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 0 0;
    height: 59px;
    padding-left: 25px;
    padding-right: 30px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
    background: #F4F4F4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 16px;
    .current {
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #8C8C8C;
    }
}

.nice-select:after {
    content: '';
    display: block;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 30px;
    top: 41%;
    display: block;
    background: url(../img/arr-select.svg) center no-repeat;
    background-size: cover;
    border: none;
    @include tr2;
}

.nice-select .list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9;
    margin-top: 0;
    padding: 0;
    opacity: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(-21px);
    transition: .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    border: 2px solid #E41514;
}

.nice-select .option {
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
    list-style: none;
    outline: 0;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    transition: .2s;
    margin-bottom: 16px;
    &:hover {
        color: #EC441E;
    }
    &:first-child {
        margin-top: 14px;
    }
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}

.nice-select.open:after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        position: fixed;
        top: 68px;
        right: 0;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: calc(100vh - 68px);
        z-index: 30;
        overflow: auto;
        background: rgba(21, 32, 39, 0.95);
        padding: 35px 15px 25px;
        box-sizing: border-box;
        transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }
    .mobile-menu.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    .mobile-menu .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .mobile-menu .menu li {
        display: block;
        margin: 0 0 20px 0;
    }
    .mobile-menu .menu a {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }
    .modal-content {
        margin: 0 15px;
    }
}

@media screen and (max-width: 575px) {}